<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - SHIO MONK MODE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="https://ruzpvxzglurtfovcphuc.supabase.co/storage/v1/object/public/assets/logo%20monk%20mode.png">
</head>
<body class="d-flex align-items-center justify-content-center auth-body">

    <div class="logo-container">
    <img src="https://ruzpvxzglurtfovcphuc.supabase.co/storage/v1/object/public/assets/MONK%20MODE%20register.png" 
         alt="Monk Mode Logo" 
         class="app-logo">
    </div>

    <div class="card p-4 shadow-lg text-center glass-card" style="width: 350px; border-color: #198754;">
        <h2 class="mb-4 text-success">CREAR CUENTA</h2>
        
        <form method="POST">
            <input type="text" name="username" class="form-control mb-3" placeholder="Elige un Usuario" required>
            <input type="password" name="password" class="form-control mb-3" placeholder="Elige una Contraseña" required>
            <button type="submit" class="btn btn-success w-100 fw-bold">REGISTRARME ✅</button>
        </form>
        
        <p class="small text-secondary mt-3">¿Ya tienes cuenta? <a href="/login" class="text-info text-decoration-none fw-bold">Inicia sesión</a></p>
    </div>

</body>
</html>